
@import "./utils/variables";
@import "./utils/mixins";

@import "./base/general-settings";

@import "./layout/header";
@import "./pages/home";
@import "./layout/cards";
@import "./pages/pages";
@import "./layout/footer";




/*----------------------Media Queries---------------------*/
/*Tablette version*/
@media (min-width: 601px) and (max-width: 1023px){
/*home page*/
.restaurant__cards{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    align-items: center;
    justify-content: center;
    }
footer{
    text-align: center;
    .footer__logo{
        @include margin;
    }
}
/*home page*/
}
/*Tablette version*/

/*Desktop version*/
@media (min-width: 1024px){
/*home page*/
.operation ol{
        display: flex;
        gap: 2rem;
        margin: 1rem;
        & li{
            width: 33%;
        }
}
.restaurant__cards{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    align-items: center;
    justify-content: center;
}
/*home page*/
/*Menu Pages*/
.header__menu{
    & div{
        grid-template-columns: repeat(2, 1fr);
    }
}
.main__menu{
    display: grid;
    grid-template-areas: "preview menu";
    grid-template-columns: 20% 80%;
    grid-template-rows: 100%;
    position: relative;
    & img{
        height: 91vh;
        object-fit: cover;
    }
}
.menu{
    border-radius: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 10% 70% 10%;
    gap: 1rem;
    &__title{
        grid-column: 1 / 4;
        grid-row: 1;
    }
    .starters{
        grid-column: 1;
        grid-row: 2;
    }
    .dishes{
        grid-column: 2;
        grid-row: 2;
    }
    .starters{
        grid-column: 3;
        grid-row: 2;
    }
    .order__button{
        margin: auto;
        grid-column: 1 / 4;
        grid-row: 3;
    }
}
footer{
    text-align: center;
    position: sticky;
    .footer__logo{
        @include margin;
    }
}
/*Menu pages*/
}
/*Desktop Version*/