/*FOOTER*/
footer 
{
    background-color: #353535;
    line-height: 1.8rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
    & h2{
        font-family: 'Shrikhand', Arial, Helvetica, sans-serif;
        color: $txt-secondary-color;
        font-weight: 300;
    }
    & ul{
    list-style-type: none;
    }
    & a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    }
    & .fas{
    padding-left: 0;
    color: $txt-secondary-color;
    }
}
.footer__logo{
    @include logo-size;
    padding-left: 1.9rem;
}
/*Tablette version*/
@media (min-width: 601px) and (max-width: 1023px){
    /*footer*/
    footer{
        text-align: center;
        .footer__logo{
            @include margin;
        }
    }
    /*footer*/
 }
/*Tablette version*/
/*Desktop version*/
@media (min-width: 1024px){
footer{
    text-align: center;
    position: sticky;
    .footer__logo{
        @include margin;
    }
}
/*Desktop Version*/
}
/*FOOTER*/