/*general settings*/
html, body {
  font-family: "Roboto", Arial, Helvetica, Verdana, Geneva, Tahoma, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  text-decoration: none;
  color: black;
}

img {
  width: 100%;
}

.fas {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 20px;
}

/*general settings*/
.order__button {
  box-shadow: 0 4px 8px 0 rgba(39, 39, 39, 0.2);
  padding: 1rem;
  border-radius: 2rem;
  border: none;
  outline: none;
  background: linear-gradient(#ff79DA, #9356DC);
  color: white;
  align-items: center;
  align-content: center;
  text-align: center;
  margin: auto;
  width: 12rem;
  cursor: pointer;
  transition: all 400ms;
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 4rem;
}
.order__button:hover {
  opacity: 85%;
  box-shadow: 0 4px 10px 0 rgba(17, 17, 17, 0.507);
  transform: scale(1.05);
}
.order__button:active {
  opacity: 100%;
  transform: scale(1);
}
.order__button a {
  color: white;
  font-weight: bold;
}
@media (min-width: 1024px) {
  .order__button {
    margin: auto;
    grid-column: 1/4;
    grid-row: 3;
  }
}

/*like*/
.restaurant-card__like .menu__like {
  position: relative;
}

.fa-heart {
  position: absolute;
  font-size: 28px;
  padding: 0;
}

.empty {
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 800ms;
}

.full {
  background-image: linear-gradient(#9356DC, #ff79DA);
  background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
  opacity: 0;
  transition: opacity 1s;
}
@media (min-width: 1024px) {
  .full:hover {
    opacity: 1;
  }
}
.full:hover:active {
  opacity: 1;
}

/*like*/
/*home restaurant cards*/
@media (min-width: 601px) and (max-width: 1023px) {
  .restaurant__cards {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    align-items: center;
    justify-content: center;
  }
}
@media (min-width: 1024px) {
  .restaurant__cards {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    align-items: center;
    justify-content: center;
  }
}

.restaurant-card__prev {
  display: grid;
  grid-template-rows: 70% 30%;
  box-shadow: 0 4px 8px 0 rgba(39, 39, 39, 0.2);
  transition: 0.3s;
  background-color: white;
  border-radius: 1.2rem;
  height: 250px;
  margin: 1rem;
  position: relative;
}
.restaurant-card__prev:hover {
  box-shadow: 0 4px 10px 0 rgba(17, 17, 17, 0.507);
}
.restaurant-card__prev .new {
  position: absolute;
  color: #008766;
  font-weight: bold;
  background-color: #99E2D0;
  padding: 0.5rem;
  border-radius: 5%;
  top: 0.5rem;
  right: 1rem;
}

.restaurant-card__details {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  line-height: 0.5rem;
  align-items: center;
}

.restaurant-card__like .fa-heart {
  bottom: 1.5rem;
  right: 1rem;
}

.restaurant img {
  height: 100%;
  object-fit: cover;
  border-radius: 1.2rem 1.2rem 0 0;
}

/*home restaurant cards*/
.loading {
  display: flex;
  font-family: "Shrikhand", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 4rem;
  position: fixed;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  opacity: 0;
  animation-name: loading, visible;
  animation-timing-function: cubic-bezier(0.63, 0.36, 0.42, 0.81);
  animation-duration: 2000ms, 3300ms;
  animation-delay: 0ms, 0ms;
  z-index: -1;
}

.loading__items {
  display: flex;
  padding: 100%;
  background-color: rgba(255, 255, 255, 0.89);
}
.loading__items .loading__item--1 {
  color: #9356DC;
  animation: jump 125ms;
  animation-delay: 2000ms;
}
.loading__items .loading__item--2 {
  color: #9356DC;
  animation: jump 125ms;
  animation-delay: 2125ms;
}
.loading__items .loading__item--3 {
  color: #9356DC;
  animation: jump 125ms;
  animation-delay: 2250ms;
}
.loading__items .loading__item--4 {
  color: #ff79DA;
  animation: jump 125ms;
  animation-delay: 2375ms;
}
.loading__items .loading__item--5 {
  color: #ff79DA;
  animation: jump 125ms;
  animation-delay: 2500ms;
}
.loading__items .loading__item--6 {
  color: #99E2D0;
  animation: jump 125ms;
  animation-delay: 2625ms;
}
.loading__items .loading__item--7 {
  color: #99E2D0;
  animation: jump 125ms;
  animation-delay: 2750ms;
}
.loading__items .loading__item--8 {
  color: #99E2D0;
  animation: jump 125ms;
  animation-delay: 2875ms;
}

@keyframes visible {
  from {
    opacity: 0.5;
    z-index: 1000;
  }
  to {
    opacity: 1;
  }
}
@keyframes loading {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes jump {
  from {
    transform: translateY(-1.5rem);
  }
  to {
    transform: translateY(0);
  }
}
/*HEADER*/
/*HOME header*/
header {
  padding: 1rem;
  box-shadow: 2px 2px 5px 2px rgba(39, 39, 39, 0.199);
  position: relative;
  text-align: center;
}
header .fas {
  font-size: 28px;
}

.header__logo {
  width: 12rem;
  margin: auto;
}

/*home header*/
/*MENU PAGES header*/
.header__menu {
  text-align: left;
}
.header__menu div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.header__menu img {
  width: 12rem;
  margin: auto;
}

/*menu pages header*/
/*HEADER*/
/*FOOTER*/
footer {
  background-color: #353535;
  line-height: 1.8rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
}
@media (min-width: 601px) {
  footer ul {
    text-align: center;
    padding: 0;
  }
}
footer h2 {
  font-family: "Shrikhand", Arial, Helvetica, sans-serif;
  color: white;
  font-weight: 300;
}
footer ul {
  list-style-type: none;
}
footer a {
  color: white;
  text-decoration: none;
}
footer .fas {
  padding-left: 0;
  color: white;
}

.footer__logo {
  padding-left: 1.9rem;
}
@media (min-width: 601px) {
  .footer__logo {
    display: flex;
    justify-content: center;
    padding: 0%;
    margin: 0;
  }
}

/*FOOTER*/
/*HOME*/
/*position section*/
.position {
  background-color: #eaeaea;
  align-items: center;
  font-size: larger;
  color: black;
  display: flex;
  justify-content: center;
}
.position i {
  color: black;
  padding-left: 0;
}

/*postion section*/
/*search section*/
.search {
  text-align: center;
  background: #f6f6f6;
  padding: 2rem 2rem 3rem 2rem;
}
.search__button {
  box-shadow: 0 4px 8px 0 rgba(39, 39, 39, 0.2);
  padding: 1rem;
  border-radius: 2rem;
  border: none;
  outline: none;
  background: linear-gradient(#ff79DA, #9356DC);
  color: white;
  align-items: center;
  align-content: center;
  text-align: center;
  margin: auto;
  width: 12rem;
  cursor: pointer;
  transition: all 400ms;
}
.search__button:hover {
  opacity: 85%;
  box-shadow: 0 4px 10px 0 rgba(17, 17, 17, 0.507);
  transform: scale(1.05);
}
.search__button:active {
  opacity: 100%;
  transform: scale(1);
}
.search__button a {
  color: white;
  font-weight: bold;
}

/*search section*/
/*operation section*/
.operation {
  padding-top: 2rem;
  padding-bottom: 3rem;
}

.operation__title {
  padding-left: 1.5rem;
}

@media (min-width: 1024px) {
  .operation ol {
    display: flex;
    gap: 2rem;
    margin: 1rem;
  }
}
.operation ol li {
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: #f6f6f6;
  margin-top: 1rem;
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 4px 8px 0 rgba(39, 39, 39, 0.2);
  font-weight: bold;
}
@media (min-width: 1024px) {
  .operation ol li {
    width: 33%;
  }
}
.operation ol li .fas {
  color: #7e7e7e;
}
.operation ol li:hover {
  background-color: #9256dc25;
  box-shadow: 0 4px 10px 0 rgba(17, 17, 17, 0.507);
}
.operation ol li:hover ::before {
  color: #9356DC;
}
.operation ol li::before {
  content: counter(li);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #9356DC;
  border-radius: inherit;
  margin-left: -2rem;
  text-align: center;
  font-weight: initial;
}

ol {
  list-style: none;
  counter-reset: li;
  padding: 0 1rem 0rem 1rem;
}

li {
  counter-increment: li;
  font-size: smaller;
}

/*operation section*/
/*Restaurant Home*/
.restaurant {
  background-color: #f6f6f6;
  padding-top: 2rem;
  padding-bottom: 3rem;
}

.restaurant__title {
  padding-left: 1.5rem;
}

/*Restaurant Home*/
/*HOME*/
/*MENU PAGES*/
@media (min-width: 1024px) {
  .main__menu {
    display: grid;
    grid-template-areas: "preview menu";
    grid-template-rows: 30% 70%;
    grid-template-columns: 100%;
    position: relative;
  }
  .main__menu img {
    height: 400px;
    grid-row: 1;
  }
}

.menu__title {
  font-family: "Shrikhand", Arial, Helvetica, sans-serif;
  font-weight: 300;
}

.preview img {
  height: 250px;
  object-fit: cover;
}

.menu {
  background-color: #f6f6f6;
  border-radius: 1.5rem 1.5rem 0 0;
  position: sticky;
  padding: 1rem;
  margin-top: -2rem;
}
@media (min-width: 1024px) {
  .menu {
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(3, 32%);
    grid-template-rows: 10% 70% 20%;
    gap: 1rem;
    padding-bottom: 2rem;
    justify-content: center;
  }
}
.menu__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}
@media (min-width: 1024px) {
  .menu__title {
    grid-column: 1/4;
    grid-row: 1;
  }
}
.menu h2 {
  text-transform: uppercase;
  padding-bottom: 0.5rem;
  font-weight: normal;
  border-bottom: 3px solid #99E2D0;
  width: 60px;
}
.menu__like .fa-heart {
  top: 2rem;
  right: 1.5rem;
}

@media (min-width: 1024px) {
  .starters {
    grid-column: 1;
    grid-row: 2;
  }
}
.starters__details {
  background-color: white;
  border-radius: 1rem;
  margin: 1rem 0 1rem 0;
  height: 4rem;
  box-shadow: 0 4px 8px 0 rgba(39, 39, 39, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  animation-name: opening, visible;
  animation-timing-function: cubic-bezier(0.63, 0.36, 0.42, 0.81);
  animation-duration: 2000ms, 3300ms;
  animation-delay: 0ms, 0ms;
}
.starters__details h3 {
  margin: 0;
}
.starters__details p {
  margin: 0;
}
.starters__details:hover {
  box-shadow: 0 4px 10px 0 rgba(17, 17, 17, 0.507);
}

@media (min-width: 1024px) {
  .dishes {
    grid-column: 2;
    grid-row: 2;
  }
}
.dishes__details {
  background-color: white;
  border-radius: 1rem;
  margin: 1rem 0 1rem 0;
  height: 4rem;
  box-shadow: 0 4px 8px 0 rgba(39, 39, 39, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  animation-name: opening, visible;
  animation-timing-function: cubic-bezier(0.63, 0.36, 0.42, 0.81);
  animation-duration: 2000ms, 3300ms;
  animation-delay: 0ms, 0ms;
}
.dishes__details h3 {
  margin: 0;
}
.dishes__details p {
  margin: 0;
}
.dishes__details:hover {
  box-shadow: 0 4px 10px 0 rgba(17, 17, 17, 0.507);
}

@media (min-width: 1024px) {
  .desserts {
    grid-column: 3;
    grid-row: 2;
  }
}
.desserts__details {
  background-color: white;
  border-radius: 1rem;
  margin: 1rem 0 1rem 0;
  height: 4rem;
  box-shadow: 0 4px 8px 0 rgba(39, 39, 39, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  animation-name: opening, visible;
  animation-timing-function: cubic-bezier(0.63, 0.36, 0.42, 0.81);
  animation-duration: 2000ms, 3300ms;
  animation-delay: 0ms, 0ms;
}
.desserts__details h3 {
  margin: 0;
}
.desserts__details p {
  margin: 0;
}
.desserts__details:hover {
  box-shadow: 0 4px 10px 0 rgba(17, 17, 17, 0.507);
}

.dish {
  position: relative;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 4rem;
  cursor: pointer;
}
@media (min-width: 1024px) {
  .dish:hover > .selected {
    transform: scale(1);
  }
  .dish:hover > .selected > i {
    transform: rotate(0);
  }
  .dish:hover > .price {
    transform: translate(0);
  }
}
.dish:hover:active > .selected {
  transform: scaleX(1);
}
.dish:hover:active > .selected > i {
  transform: rotate(0);
}
.dish:hover:active > .price {
  transform: translate(0);
}
.dish .dish__infos {
  width: 90%;
  padding-left: 1rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.dish .dish__infos h3 {
  margin: 0;
}
.dish .dish__infos p {
  margin: 0;
}
.dish .price {
  width: 10%;
  display: flex;
  font-weight: bold;
  padding-right: 1rem;
  transform: translate(70px);
  transition: transform 800ms cubic-bezier(0.63, 0.36, 0.42, 0.81);
}
.dish .selected {
  position: relative;
  display: block;
  right: 0;
  height: 4rem;
  border-radius: 0 1rem 1rem 0;
  background-color: #99E2D0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 800ms cubic-bezier(0.63, 0.36, 0.42, 0.81);
}
.dish .selected .fa-check-circle {
  color: white;
  padding: 1rem;
  font-size: 2rem;
  transform: rotate(360deg);
  transition: transform 800ms;
}

@keyframes visible {
  from {
    opacity: 0.5;
    z-index: 1000;
  }
  to {
    opacity: 1;
  }
}
/*MENU PAGES*/

/*# sourceMappingURL=style.css.map */
