/*home restaurant cards*/
.restaurant__cards{
    @include tablette{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
        align-items: center;
        justify-content: center;
    }
    @include desktop{
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        align-items: center;
        justify-content: center;
    }
}
.restaurant-card__prev{
    display: grid;
    grid-template-rows: 70% 30%;
    @include shadow;
    transition: 0.3s;
    background-color: white;
    border-radius: 1.2rem;
    height: 250px;
    margin: 1rem;
    position: relative;
    &:hover{
        @include shadow-hover;
    }
    .new{
        position: absolute;
        color: #008766;
        font-weight: bold;
        background-color: $color-tertiary;
        padding: 0.5rem;
        border-radius: 5%;
        top: 0.5rem;
        right: 1rem;
    }
}
.restaurant-card__details{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    line-height: 0.7rem;
    align-items: center;
}
.restaurant-card__like{
    .fa-heart{
    bottom: 1.5rem;
    right: 1rem;
    }
}
.restaurant img{
    height: 100%;
    object-fit: cover;
    border-radius: 1.2rem 1.2rem 0 0;
}
/*home restaurant cards*/