/*like*/
.fa-heart{
    font-size: 28px;
}

.empty{
    cursor: pointer;
    &:hover{
        display: none;
    }
}
    
.full{
    display: none;
    background-color: transparent;
    &:hover{
    color:linear-gradient(#ff79d9af,#9256dcb0);
    cursor: pointer;
    }
}
/*like*/