/*general settings*/
html, body{
    font-family: 'Roboto', Arial, Helvetica, Verdana, Geneva, Tahoma, sans-serif;
    height: 100%;
    margin: 0;
    padding:0;
}
*{
    text-decoration: none;
    color: $txt-primary-color;
}
img{
    width: 100%;
}

.far{
    font-size: 28px;
}
.fas{
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 20px;
}
/*general settings*/