/*MENU PAGES*/
.main__menu{
    @include desktop{
        display: grid;
        grid-template-areas: "preview menu";
        grid-template-rows: 30% 70%;
        grid-template-columns: 100%;
        position: relative;
        & img{
            height: 400px;
            grid-row: 1;
        }
    }
}

.menu__title{
    font-family: 'Shrikhand', Arial, Helvetica, sans-serif;
    font-weight: 300;
}

.preview{
    & img{
        height: 250px;
        object-fit: cover;
    }
}

.menu{
    background-color: #f6f6f6;
    border-radius: 1.5rem 1.5rem 0 0;
    position: sticky;
    padding: 1rem;
    margin-top: -2rem;
    @include desktop{
        grid-row: 2;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 10% 70% 20%;
        gap: 1rem;
        padding-bottom: 2rem;
    }
    &__title{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        @include desktop{
            grid-column: 1 / 4;
            grid-row: 1;
        }
    }
    & h2{
        text-transform: uppercase;
        padding-bottom: 0.5rem;
        font-weight: normal;
        border-bottom : 3px solid#99E2D0;
        width: 60px;
    }
    &__like{
        .fa-heart{
            top: 2rem;
            right: 1.5rem;
        }
    }
}
.starters{
    @include desktop{
        grid-column: 1;
        grid-row: 2;
    }
    &__details{
        @include choose;
    }
}

.dishes{
    @include desktop{
        grid-column: 2;
        grid-row: 2;
    }
    &__details{
        @include choose;
    }
}

.desserts{
    @include desktop{
        grid-column: 3;
        grid-row: 2;
    }
    &__details{
        @include choose;
    }
}

.dish__infos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    overflow-wrap: ellipsis;
    padding:  0 1rem 0 1rem;
    @include desktop{
        &:hover{
            & > .price{
                transform: translate(0);
            }
        }
    }
    &:hover:active{
        & > .price{
            transform: translate(0);
        }
    }
}

.dish{
    display: flex;
    line-height: 0.8 ;
    cursor: pointer;
    @include desktop{
        &:hover{
            & > .selected{
                transform: scale(1);
                & > i{
                    transform: rotate(0);
                }
            }
        }
    }
    &:hover:active{
        & > .selected{
            transform: scaleX(1) ;
            & > i{
                transform: rotate(0);
            }
        }
    }
    .price{
        display: flex;
        font-weight: bold;
        transform: translate(70px);
        transition: transform 800ms cubic-bezier(.63,.36,.42,.81);
    }
    .selected{
        position: relative;
        display: block;
        right: 0;
        padding: 1.55rem 0.5rem 1.55rem 0.5rem;
        border-radius: 0 1rem 1rem 0;
        background-color: $color-tertiary;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 800ms cubic-bezier(.63,.36,.42,.81);
        i{
            color: $txt-secondary-color;
            font-size: 2rem;
            transform: rotate(360deg);
            transition: transform 800ms;
        }
    }
}


/*MENU PAGES*/