$color-primary: #9356DC;
$color-secondary: #ff79DA;
$color-tertiary: #99E2D0;

$txt-primary-color: black;
$txt-secondary-color: white;

$btn-color: linear-gradient($color-secondary, $color-primary);
$btn-color-hover: linear-gradient(#ff79d9d2,#9256dcd5);
$btn-color-active: linear-gradient(#e022aad2,#6e26c5d5);
$bold : bold;