$color-primary: #9356DC;
$color-secondary: #ff79DA;
$color-tertiary: #99E2D0;

$txt-primary-color: black;
$txt-secondary-color: white;

$btn-color: linear-gradient($color-secondary, $color-primary);
$like-color: linear-gradient($color-primary, $color-secondary);

$dish-btn: 4rem;

$bold : bold;